{% extends "admin.html" %}


{% block report_card %}
{% for r in reports %}
<div class="card">
  <h1>Title: {{r.title}}</h1>
  <p>Authors: {% for auth in r.author.all %}{{auth.username}} {% endfor %}</p>
  <button onclick="window.location.href='{% url 'report' r.id %}';">edit</button>
  <button onclick="window.location.href='{% url 'show_report' r.id %}';">View</button>
</div>
{% endfor %}
{% endblock report_card %}

{% block task_card %}
{% for t in tasks %}
<div class="card">
  <h1>Title: {{t.title}}</h1>
  <p>Requester: {{t.creator}}</p>
  <button onclick="window.location.href='{% url 'show_task' t.id %}';">View</button>
  <button onclick="window.location.href='{% url 'accept_task' t.id %}';">Accept</button>
</div>
{% endfor %}
{% endblock task_card %}