<h3>${machine} - Record ${cardNumber}</h3>
<input type="hidden" id="csrf-token" value="{% csrf_token %}">

<label for="status}">pd:</label>
<input type="text" id="status-${machine}-${cardNumber}" name="status" placeholder="e.g., Operational">

<label for="pd}">setup pressure:</label>
<input type="text" id="status-${machine}-${cardNumber}" name="setup pressure:" placeholder="e.g., Operational">

<label for="temperature">pressure:</label>
<input type="number" id="temperature-${machine}-${cardNumber}" name="temperature" placeholder="e.g., 75°C">
<button type="submit">Submit Report</button>