{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}" />
      <link rel="stylesheet" href="{% static 'css/navbar8.css' %}" />
      <header class="navbar8-container navbar8">
        <header data-thq="thq-navbar" class="navbar8-navbar-interactive">
          <div data-thq="thq-navbar-nav" class="navbar8-desktop-menu">
            <nav class="navbar8-links">
              <a href="https://www.teleporthq.io">
                <fragment class="navbar8-fragment4">
                  <span class="navbar8-text6 thq-body-small thq-link">
                    Projects
                  </span>
                </fragment>
              </a>
              <a href="https://www.teleporthq.io">
                <fragment class="navbar8-fragment2">
                  <span class="navbar8-text4 thq-body-small thq-link">
                    Updates
                  </span>
                </fragment>
              </a>
            </nav>
            <div class="navbar8-buttons">

              <button
                class="navbar8-action1 thq-button-filled thq-button-animated"
              >
                <span class="thq-body-small">
                  <fragment class="navbar8-fragment1">
                    <span class="navbar8-text3">LOGIN</span>
                  </fragment>
                </span>
              </button>
              <button
                class="navbar8-action2 thq-button-animated thq-button-outline"
              >
                <span class="thq-body-small">
                  <fragment class="navbar8-fragment3">
                    <span class="navbar8-text5">Contact us</span>
                  </fragment>
                </span>
              </button>
            </div>
          </div>
        </header>
      </header>

    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
