{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}" />
      <link rel="stylesheet" href="{% static 'css/navbar8.css' %}" />
      <header class="navbar8-container navbar8">
        <header data-thq="thq-navbar" class="navbar8-navbar-interactive">
          <div data-thq="thq-navbar-nav" class="navbar8-desktop-menu">
            <nav class="navbar8-links">
              <button onclick="history.back()" class="back-button">Back</button>
              <a href="{% url "home" %}">
                <fragment class="navbar8-fragment4">
                  <span class="navbar8-text6 thq-body-small thq-link">
                    Home
                  </span>
                </fragment>
              </a>
              <a href="{% url "control" %}">
                <fragment class="navbar8-fragment2">
                  <span class="navbar8-text4 thq-body-small thq-link">
                    My View
                  </span>
                </fragment>
              </a>
              <a href="{% url "requests" %}">
                <fragment class="navbar8-fragment2">
                  <span class="navbar8-text4 thq-body-small thq-link">
                    New Request
                  </span>
                </fragment>
              </a>
            </nav>
            <div class="navbar8-buttons">
              {% if user.is_authenticated %}
              <p>Welcome, {{ user.username }}!</p>
              {% endif %}
              <button
                class="navbar8-action1 thq-button-filled thq-button-animated"
              >
                <span class="thq-body-small">
                  <fragment class="navbar8-fragment1">
                    {% if user.is_authenticated %}
                      <a href="{% url 'logout' %}">
                        <span class="navbar8-text5">LOGOUT</span>
                      </a>
                    {% else %}
                      <a href="{% url "signin" %}">
                      <span class="navbar8-text5">LOGIN</span>
                      </a>
                    {% endif %}
                  </fragment>
                </span>
              </button>
              <button
                class="navbar8-action1 thq-button-filled thq-button-animated"
              >
                <span class="thq-body-small">
                  <fragment class="navbar8-fragment1">
                    <a href="{% url "contactus" %}">
                    <span class="navbar8-text5">Contact us</span>
                  </a>
                  </fragment>
                </span>
              </button>
            </div>
          </div>
          <script>
            document.addEventListener("DOMContentLoaded", function() {
              window.addEventListener("pageshow", function(event) {
                  if (event.persisted) {  // Check if the page was loaded from cache
                      window.location.reload();  // Reload the page from the server
                  }
              });
          });
          </script>
        </header>
      </header>