{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}" />
      <link rel="stylesheet" href="{% static 'css/navbar8 copy.css' %}" />
      <button class="theme-toggle" onclick="toggleTheme()">Switch to Light Theme</button>
      <header class="header">
        <h1>Task Manager</h1>
        <nav>
            <a href="{% url 'control' %}" class="{% if request.resolver_match.url_name == 'report_page' %}active{% endif %}">Task</a>
            <a href="{% url 'requests' %}" class="{% if request.resolver_match.url_name == 'laboratory_page' %}active{% endif %}">Laboratory</a>
            <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'machine_page' %}active{% endif %}">Machine</a>
            <a href="{% url 'new_task' %}" class="{% if request.resolver_match.url_name == 'history_page' %}active{% endif %}">History</a>
        </nav>
    </header>